<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]>      <html class="no-js"> <!--<![endif]-->
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="">
    </head>
    <body>
        <p>test</p>
        <button class="like">like</button>
        <button class="comment">comment</button>
        <button class="chat">chat</button>
        
        <script src="https://code.jquery.com/jquery-3.5.1.js" 
                integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc=" 
                    crossorigin="anonymous"></script>
        <script>

            const socket_noti = new WebSocket('ws://127.0.0.1:8000/ws/noti/');
            const socket_chat = new WebSocket('ws://127.0.0.1:8000/ws/chat/');

            function connect_noti() {
                socket_noti.onopen = function(){
                    console.log("Websocket noti is connected");
                }
                socket_noti.onclose = function(){
                    console.log("Websocket noti is disconnected");
                    setInterval(function() {
                        console.log("Websocket noti reconnecting...");
                        connect_noti();
                    }, 2000);
                }
                socket_noti.onmessage = function(e){
                    var data = JSON.parse(e.data);
                    console.log(data)
                }
            }
            connect_noti();

            function connect_chat() {
                socket_chat.onopen = function(){
                    console.log("Websocket chat is connected");
                }
                socket_chat.onclose = function(){
                    console.log("Websocket chat is disconnected");
                    setInterval(function() {
                        console.log("Websocket chat reconnecting...");
                        connect_chat();
                    }, 2000);
                }
                socket_chat.onmessage = function(e){
                    var data = JSON.parse(e.data);
                    console.log(data)
                }
            }
            connect_chat();

            const like = document.querySelector('.like')
            const comment = document.querySelector('.comment')
            const chat = document.querySelector('.chat')

            like.addEventListener('click', ()=>{
                socket_noti.send(JSON.stringify({
                    "user" : "admin",
                    "video" : "2e2aa1b4-04f1-46bf-aeda-3372a71bcc65",
                    "type" : "1"
                }));
            })
            comment.addEventListener('click', ()=>{
                socket_noti.send(JSON.stringify({
                    "user" : "admin",
                    "video" : "2e2aa1b4-04f1-46bf-aeda-3372a71bcc65",
                    "type" : "2"
                }));
            })
            chat.addEventListener('click', ()=>{
                socket_chat.send(JSON.stringify({
                    "sender" : "af6016f4-0092-4fa5-a657-5e1b1152fce1",
                    "receiver" : "2e000aa4-1acf-4c99-8726-9c28f71f560d",
                }));
            })
            
        </script>
    </body>
</html>